doctype html
// Leena: Use some templating to not repeat stuff
head
  title Home - The Mind
  // loading bulma and fontawesome TODO: do we need fontawesome?
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
  script(defer='' src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script(type='text/javascript' src='./static/home.js')
main.section
  .container
    h1.title The Mind

    section.section
      h2.title Start a Game
      button#startGameButton.button Start a new game
      div#newGameText.is-hidden
        | Link to that game:
        // add a copytoclipboard situation
        // or have them go to that new game and _there_ copy the link to start the game
        a#newGameLink

    section.section
      h2.title Join a game
      | To join an existing game, get someone to send you a link to the game and join directly via the link.
